/* Grundstile und Reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('chat.css');
@import url('layout.css');
@import url('profil.css');
@import url('formulare.css');
@import url('headers.css');
@import url('nutzerliste.css');

/* Reset und Grundstile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg, img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #F0FCF9;
    color: #102A43;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header-Stile */
header {
    font-size: 27px;
    background-image: linear-gradient(to top, #048271, #334E68);
    color: #F0FCF9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.homeIcon {
    width: 24px;
    fill: #F0FCF9;
}

/* Allgemeine Stile */
.main {
    max-width: 960px;
    padding: 40px 20px;
    margin: auto;
    flex-grow: 1;
    width: 100%;
}

.foot a {
    color: rgb(55, 66, 68);
    text-decoration: none;
}

.partner-container {
    display: grid;
    overflow-y: scroll;
    width: 300px;
    height: 400px;
}

.splitscreen {
    flex-wrap: wrap;
    align-items: stretch;
}

.Registerview {
    display: grid;
    gap: 20px;
}

/* Navigation Stile */
.menu ul, .menu {
    list-style: none;
    color: #F0FCF9;
    font-size: 18px;
}

.menu a, .menu span {
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
    height: 100%;
    line-height: 50px;
    display: flex;
}

/* Media Queries für große Bildschirme */
@media screen and (min-width: 960px) {
    .navigation {
        position: sticky;
        top: 0;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        background-color: #048271;
    }

    .menu ul {
        display: none;
        position: absolute;
        background-color: #048271;
    }

    .menu li:hover > a, .menu li:hover > span {
        background-color: #334E68;
        color: #F0FCF9;
    }

    .menu li:hover ul {
        display: block;
    }

    .title {
        text-align: left;
        padding: 40px 0 30px 200px;
        max-width: 960px;
    }

    .slogan {
        text-align: left;
        padding: 0 0 20px 200px;
        font-style: italic;
    }

    .foot {
        background-color: #C6F7E9;
        justify-content: center;
        gap: 40px;
        display: flex;
        padding: 20px 0;
    }
}
.dropdown {
    display: none;
}

/* Media Queries für kleine Bildschirme */
@media screen and (max-width: 960px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #048271;
        padding-left: 20px;
    }

    .dropdown {
        display: block;
        background-color: #048271;
        color: #F0FCF9;
        padding: 15px 20px;
        text-align: left;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        background-color: #048271;
        width: 100%;
    }

    .dropdown-content a, .dropdown-content span {
        padding: 10px 20px;
    }

    .show {
        display: flex;
    }

    .title {
        text-align: left;
        padding: 30px 0 20px 50px;
    }

    header h5 {
        text-align: left;
        padding: 0 0 20px 70px;
        font-style: italic;
    }

    .foot {
        background-color: #C6F7E9;
        gap: 40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}
