.Einloggen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Einloggen-Form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    width: 100%;
}

.textField{
    max-width: 100%;
    min-width: 100%;
}

button {
    background-color: #5FE3C0;
    color: #102A43;
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid #5FE3C0;
    border-radius: 10px;
    /*Damit der Button nicht den Namen überlagert*/
}
.ChatButton{
    background-color: #5FE3C0;
    color: #102A43;
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid #5FE3C0;
    border-radius: 10px;
    height: 44px;
    margin: 8px;
}

.EntryButton {
    background-color: #004440;
    color: #F0FCF9;
    padding: 10px 30px;
    display: inline-block;
    border: 2px solid #C6F7E9;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #5FE3C0;
    border-radius: 4px;
}

textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #5FE3C0;
    border-radius: 4px;
}

.newEntry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
