.Objektliste{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.Objekt{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    width: 400px;
    gap: 0;
    margin: 0;
}
.Objekt img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.inneresObjekt{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 30px;
    border: 2px solid #5FE3C0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-width: 0;
    background-color: #C6F7E9;
    max-width: 400px;
    width: 100%;
}

.error {
    color: #D64545;
}